################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GreenCoreS21/.vs/GreenCoreS21/v17/.suo
/GreenCoreS21/.vs/GreenCoreS21/v17/DocumentLayout.json
/GreenCoreS21/GreenCoreS21/bin/Debug/net8.0/GreenCoreS21.dll
/GreenCoreS21/GreenCoreS21/bin/Debug/net8.0/GreenCoreS21.pdb
/GreenCoreS21/GreenCoreS21/bin/Debug/net8.0/nunit_random_seed.tmp
/GreenCoreS21/GreenCoreS21/obj/Debug/net8.0/ref/GreenCoreS21.dll
/GreenCoreS21/GreenCoreS21/obj/Debug/net8.0/refint/GreenCoreS21.dll
/GreenCoreS21/GreenCoreS21/obj/Debug/net8.0/GreenCoreS21.AssemblyInfo.cs
/GreenCoreS21/GreenCoreS21/obj/Debug/net8.0/GreenCoreS21.AssemblyInfoInputs.cache
/GreenCoreS21/GreenCoreS21/obj/Debug/net8.0/GreenCoreS21.csproj.FileListAbsolute.txt
/GreenCoreS21/GreenCoreS21/obj/Debug/net8.0/GreenCoreS21.dll
/GreenCoreS21/GreenCoreS21/obj/Debug/net8.0/GreenCoreS21.pdb
