################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GreenCoreS21/.vs/GreenCoreS21/FileContentIndex
